<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Group Chat</title>
    <link rel="stylesheet" href="/css/chat.css" />
  </head>
  <body>
    <header id="chat-header" style="display: none">
      <div class="user-info">
        <span id="username"></span>
      </div>
      <button id="logoutBtn">Logout</button>
    </header>

    <div class="chat-container" id="chat-container" style="display: none">
      <div class="sidebar">
        <input
          type="text"
          id="searchbar"
          name="searchbar"
          placeholder="Search..."
        />
        <br /><br />
        <input
          type="text"
          id="searchGroup"
          name="searchGroup"
          placeholder="Search Group..."
        />
      </div>

      <div class="chat-section">
        <div class="chat-header">
          <h3>Global Room</h3>
        </div>

        <div class="chat-box" id="chat-box"></div>
        <div id="suggestions" class="suggestions"></div>

        <div class="chat-input">
          <label for="fileInput" class="file-label">📎</label>
          <input type="file" id="fileInput" />
          <input
            type="text"
            id="messageInput"
            placeholder="Type a message..."
            autocomplete="off"
          />
          <button id="sendBtn" class="send-btn">➤</button>
        </div>

        <div id="smartReplies" class="smart-replies"></div>
        <p id="sent-status"></p>
      </div>
    </div>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="/js/chatWindow.js"></script>
  </body>
</html>
