<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login to your account</h1>
    <form>
      <label for="email-phone">Email/Phone:</label><br />
      <input type="text" name="email-phone" id="email-phone" /><br /><br />
      <label for="password">Name:</label><br />
      <input type="password" name="password" id="password" /><br /><br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
